* {
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding-top: 160px;
    background-image: url(https://i.ibb.co/s3VdhC7/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;

    font-family: 'Spectral', serif;
}

h1 {
    color: #EBF1FB;
    font-size: 64px;
    font-weight: 400;
    line-height: 120px;

    font-family: 'Beth Ellen', cursive;
}

h1 span {
    color: #5EEAD4;
}

h3 {
    color: #EBF1FB;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 72px;
}

a {
    color: #EBF1FB;
    padding: 16px 32px;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}

a:hover,
a.main-btn {
    color: #0B0C0E;
    background-color: #5EEAD4;
    border-radius: 8px;
    text-decoration: none;
}